body {
  font-family: 'Courier New', Courier, monospace;
}

header {
  display: flex;
  justify-content: center; /* Centers  horizontally */
  align-items: center;     /* Centers  vertically */
}

/* 2. Shared button styles */
button {
  padding: 10px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  cursor: pointer;         /* Changes the mouse to a hand icon */
  transition: opacity 0.3s; /* Smooth effect for hovering */
  font-family: 'Courier New', Courier, monospace;
}

/* Buttons */

#navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

#navBar > button {
  width: 100%;
}

#calendarBtn {
  background-color: #2ecc71;
  color: white;
}

#groupsBtn {
  background-color: #3498db;
  color: white;
}

#auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginBtn {
  background-color: #3498db;
  color: white;
}


#logout {
  text-align: right;
}


/* 4. Hover effect for feedback */
button:hover {
  opacity: 0.8;
}

#beta {
  color: cornflowerblue;
  font-weight:bolder;
  font-size: 30px;
  margin-left: 80px;
}

#logo {
  color:darkslategray;
  font-weight:bolder;
  font-size:70px;
}

#signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}