body {
  font-family: 'Courier New', Courier, monospace;
  height: 50vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;   
}
