/*
calendar events are indexed from 0-99
other calendar elements are indexed from 100-499
sidebar elements are indexed from 500 - 999
modal elements are indexed from 1000+
*/

/* --- CALENDAR EVENTS --- */
.calendar-event {
    /* (calendarConstants.jsx)
    NORMAL: 20,
    BLOCKING: 30,
    AVAIL: 50,
    PETITION: 40,
    DEEMPHASIZE: 10,
    PREVIEW: 60
    */
    z-index: 1; /* default (this shouldnt happen) */
}

.calendar-event:hover {
    z-index: 59 !important;
}

.availability-tooltip {
    z-index: 70;
}

/* --- CALENDAR HEADINGS --- */
.time-label {
    z-index: 100;
}

.day-header {
    z-index: 150;
}

.corner-cell {
    z-index: 200;
}

/* --- SIDEBARS --- */
.resize-handle {
    z-index: 500;
}

.main-sidebar {
    /* the sidebar elements and modals */
    z-index: 600;
}

/* --- MODALS --- */
.modal-backdrop {
    z-index: 1000;
}

.calendar-modal-overlay {
    /* for calendar selection on first login (CalendarSelectionModal.jsx) */
    z-index: 1000;
}

.modal-overlay {
    /* the actual modal */
    z-index: 1000;
}

.search-dropdown-menu {
    z-index: 1100;
}